@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

.p-tablist-tab-list,
.p-tabpanels {
   background: transparent !important;
}

:root {
   --p-form-field-sm-padding-y: 4px !important;
   --p-form-field-sm-padding-x: 8px !important;
}

.fade-enter-active,
.fade-leave-active {
   position: absolute;
   transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
   opacity: 0;
}

.scroll-left {
   direction: rtl;
}
.scroll-left::-webkit-scrollbar {
   width: 1px;
}

.the-shadow::after {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100px;
   background: linear-gradient(#fafafaaa, transparent);
   pointer-events: none;
}

.the-shadow::before {
   content: "";
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 100px;
   z-index: 10;
   background: linear-gradient(transparent, #fafafa);
   pointer-events: none;
}
